.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, #7b00ff,#5a00ba,#390076);
    padding: 10px;
}

.Navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar__logo a img {
    width: 100%;
    max-width: 250px;
}

.material-symbols-outlined {
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  display: none;
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.Navbar__link-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.Navbar__link-list ul li a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(16px, 2.5vw, 24px);
    font-weight: 500;
    text-shadow: 2px 3px 5px #000;
    opacity: 0.8;
    transition: all .5s;
}
.Navbar__link-list ul li a:hover {
    opacity: 1;
}
.Navbar__link-list ul li .active {
    opacity: 1;
}

.Navbar__btn .Navbar__btn--rows {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.Navbar__btn .Navbar__btn--rows a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(16px, 2.5vw, 18px);
    font-weight: 500;
    text-shadow: 2px 3px 5px #000;
}

.Navbar__btn .Navbar__btn--rows .Navbar__btn--signin {
    opacity: 0.8;
    transition: all .4s;
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.Navbar__btn .Navbar__btn--rows .Navbar__btn--signin:hover {
    outline: 2px solid #fff;
    background: linear-gradient(45deg, #7b00ff,#5a00ba,#390076);
    opacity: 1;
}

.Navbar__btn--signup {
    transition: all .4s;
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(0deg, #ffb962,#b27f41,#d69a50);
}

@media screen and (max-width: 1030px) {
    .material-symbols-outlined {
        display: flex;
    }

    .Navbar__link-list {
        position: fixed;
        top: 0;
        left: -150%;
        transition: all .6s;
        z-index: 99;
        background: linear-gradient(45deg, #7b00ff,#5a00ba,#390076);
        width: 100%;
        max-width: 330px;
        height: 100vh;
        padding: 20px;
        box-shadow: 15px 0 50px #390076;
    }

    .Navbar__link-list.active {
        left: 0%;
    }

    .Navbar__link-list ul {
        display: grid;
        align-items: start;
        justify-content: start;
        margin-top: 20px
    }

    .Navbar__link-list ul li a {
        font-size: clamp(24px, 2.5vw, 32px);
    }
}

@media screen and (max-width: 420px) {
    .Navbar__btn .Navbar__btn--rows .Navbar__btn--signin,
    .Navbar__btn .Navbar__btn--rows .Navbar__btn--signup {
        width: 80px;
        height: 40px;
        font-size: 13px;
    }

    .openMenuNavbar {
        font-size: 1.8rem;
    }
}