.News {
    background: linear-gradient(45deg, #2d2d2d,#484848,#626262);
    height: 45px;
    display: flex;
    align-items: center;
    font-size: clamp(18px, 2.5vw, 18px);
    color: #fff;
}

.RcmGame {
    background: linear-gradient(0deg, #000000da,#000000a3),url("../assets/images/bg/BG-02.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.Header__RcmGame {
    color: #fff;
    margin-bottom: 10px;
}

.Header__RcmGame h1 {
    font-weight: 500;
    font-size: clamp(25px, 2.5vw, 32px);
}

.Description__RcmGame {
    margin-bottom: 30px;
    color: #fff;
}

.Description__RcmGame h2 {
    font-weight: 500;
    font-size: clamp(18px, 2.5vw, 23px);
    text-align: center;
}

.RcmGame__img__container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    max-width: 1600px;
}

.RcmGame__img__container img {
    border-radius: 20px;
    width: 100%;
}

.RcmGame__card-game {
    background: #31313164;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.BgCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    object-fit: cover;
    filter: blur(10px);
}

.Header__Card h2 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 20px 0 10px 0;
    white-space: nowrap;
    overflow-x: auto;
    text-shadow: 0 0 5px #c8c8c8;
}

.Header__Card h2::-webkit-scrollbar {
    display: none;
    /* สำหรับ IE, Edge */
    -ms-overflow-style: none;
    /* สำหรับ Firefox */
    scrollbar-width: none;
}

.Name__Game h3 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 18px);
    white-space: nowrap;
    overflow-x: auto;
}

.Name__Game h3::-webkit-scrollbar {
    display: none;
    /* สำหรับ IE, Edge */
    -ms-overflow-style: none;
    /* สำหรับ Firefox */
    scrollbar-width: none;
}

.Blog__Seo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background: linear-gradient(0deg, #000000da,#000000a3),url("../assets/images/bg/BG-02.webp");
}

.Blog__img__container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 600px;
}

.Blog__img__container img {
    width: 100%;
    border-radius: 20px;
}

.Main__img__seo {
    padding: 10px;
}

.Backdrop__Shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(20px);
}

.Blog__Header {
    color: #fff;
}

.Blog__Header h1 {
    font-weight: 500;
    text-align: center;
    font-size: clamp(18px, 2.5vw, 24px);
}

.Blog__Discription {
    color: #fff;
    width: 100%;
    max-width: 1300px;
}

.Blog__Discription p {
    font-size: clamp(12px, 2.5vw, 18px);
    text-align: center;
}

@media screen and (max-width: 545px) {
    .RcmSlot__img__container,
    .RcmGame__img__container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}